<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>  
      </tr> 
      <tr>   
        <td>comments</td>
        <% post.comments.each do |comment|%>
          <tr>
            <td><%=comment.body %></td>        
            
          </tr>
    
        <%end%>
      </tr>
      <tr>  
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Comments_post', postandcomment_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>  
    
    
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
